/* Normalize & Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
a{outline:none}
abbr[title]{border-bottom:1px dotted}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
sub,sup{font-size:75%;line-height:0;position:relative}
sup{top:-0.5em}
sub{bottom:-0.25em}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
input:focus,button:focus,select:focus,textarea:focus{outline:none}
table{border-collapse:collapse;border-spacing:0}
/* end Normalize & Reset */
html {
	height: 100%;
}
body {
	min-height: 100%;
	font: 13px/18px Verdana, Arial, Tahoma, sans-serif;
	color: #444;
	background: rgb(0, 0, 0) transparent;
	position: relative;
}
a {color: #3C6BDF}
a:hover {color: #60BF00}
p {
	margin: 0 0 18px;
}
input[type="text"] {
	border-radius: 3px;
	padding: 2px 5px;
	border: 1px solid #C4C9D0;
	color: #646F81;
}
input[type="text"]:focus {
	border: 1px solid #8891A2;
}

.wrapper {
	width: 860px;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 105px;
	position: relative;
}
h1 {
	position: absolute;
	top: 25px;
	left: 0;
}
h1 a {
	display: block;
	font: 11px Verdana, Arial, sans-serif;
  text-decoration: none;
	color: #E7EAED;
	position: relative;
	cursor: pointer;
	text-align: center;
}
h1 span {
	display: block;
	font: 33px/1 Georgia, "Times New Roman", Times;
	letter-spacing: 1px;
	color: #FFCF0F;
	margin: 0 0 3px;
	text-shadow: 0 2px 5px rgba(0,0,0,.3);
}
h1 a:hover {
	color: #E7EAED;
}

.nav1 {
	position: absolute;
	top: 35px;
	right: 0;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	border-radius: 3px;
	background: #646F81;
}
.nav li {
	float: left;
	list-style: none;
	padding: 8px 12px 9px;
	cursor: pointer;
	color: #E7EAED;
	border-left: 1px solid #515D6D;
	box-shadow: inset -1px 1px #6B7787;
}
.nav li:first-child {
	border-radius: 3px 0 0 3px;
	border-left: none;
}
.nav li:last-child {
	border-radius: 0 2px 2px 0;
}
.nav li:hover {
	color: #FFF;
	background: #E56655;
	background: -webkit-linear-gradient(#EF705F, #E05C50);
	background:    -moz-linear-gradient(#EF705F, #E05C50);
	background:      -o-linear-gradient(#EF705F, #E05C50);
	background:         linear-gradient(#EF705F, #E05C50);
	box-shadow: inset 0 1px #F08C75;
}
.nav li.active {
	background: #5B6475;
	background: -webkit-linear-gradient(#5B6475, #4B525F);
	background:    -moz-linear-gradient(#5B6475, #4B525F);
	background:      -o-linear-gradient(#5B6475, #4B525F);
	background:         linear-gradient(#5B6475, #4B525F);
	box-shadow: inset 0 1px #6B7787;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	padding: 0 0 100px;
}
.box {
	display: none;
	margin: 0 0 15px;
}
.box.active {
	display: block;
}
.middle:after,
.box:after {
	content: '';
	clear: both;
	display: table;
}

form {
	width: 460px;
	float: left;
}
.section {
	clear: both;
	position: relative;
	margin: 0 0 20px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.section.half {
	float: left;
	width: 220px;
}
.section.half + .section.half {
	clear: none;
	float: right;
}
.section__headline {
	padding: 7px 15px;
	border-bottom: 1px solid #FAFCF7;
	border-radius: 3px 3px 0 0;
	background: transparent;
	background: -webkit-linear-gradient(#EF705F, #E05C50);
	background:    -moz-linear-gradient(#EF705F, #E05C50);
	background:      -o-linear-gradient(#EF705F, #E05C50);
	background:         linear-gradient(#EF705F, #E05C50);
	box-shadow: inset 0 1px #F08C75;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
}
.section__inner {
	background: #EFEFEF;
	border-radius: 0 0 2px 2px;
	padding: 15px;
}
.section__inner ul {
	margin: 0 0 20px 30px;
}
#cssReset {
	font: 13px Verdana, Arial, Tahoma;
	display: block;
}
label {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
}
#info {
	margin: 0 0 20px;
	padding: 0 0 0 45px;
	border-radius: 3px;
  font-size: 12px;
	line-height: 40px;
  background: #4FC0E8 url(data:image/gif;base64,R0lGODlhEAAQAOYAAFDB6VDB603B6k/B5lC/6k3B6FjE6snr91HB6f7////+/1DA6G7N7brl9qTc8+b0/VfF6mvM7PD6/Kfg9FXC7f39/23J8s/v+sfr97bl9bXm9FLC6Kbc9KTe9m7L7aPe8Pr7/2/J7OH2+7Ll+lnF6f///7bn9dnw+FPD6bPj91HA7aTd8en4+1nE6O/2//7+/+r3/eP1+dbx+FPA69Hv+mvO7cbr9Pn9//D3/7fi9cbq+LHl87nk9bnk9FLC58Ts9lDA5m/L8E7C51XA7Pj+/HHM6+P0/PH7/W/M7bTj9VrE627K77Pj+dDu+VfD6bTk+OL1+VTB7Ljo9v38//n+/7Lm9FPA6U6/5/H4/vv8/uX0+1nD6qXg8rPk8+P2/O/6/vL5/1jD51bB69Lu+lHA63HK8m3M6m/M7lrE7E/B5e75/8bq9tTw+07B7VTB6Ljm9nDK7U7A5dfy+8Tq9/3//E7C6U/A6k/A6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAQABAAAAfMgHeCdxFJD1lED0wRg40aah1IPhRFHF8NjVFjNltAAAsBd3YkBxdWdwQmawEAoY0IdgcZdyFYEIICAVI9ZIMGEnAjE413LDCNAw5dWmd3A4NOLcRBXnRignaCMmzP2QFuVBUogleCLwkFANl2ECBQDLiCCgqCQndpZSJVXIIEd20lEjQSsCIHAxwGBhU4IWdQnDAuzNxpoGNDAUEABCAQtGDOk0FNfqAZoEJdnTtKMNAgxgOMgxozhnj4cOTNIH+CLOwwMuVGjBRLGgUCADs=) no-repeat 15px 50%;
	color: #FFF;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#submit {
	height: 40px;
	padding: 0 15px;
	cursor: pointer;
	font: 16px Verdana, Arial, sans-serif;
	background: #A0D569;
	border: none;
	color: #FFF;
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
	background: #8FCD52;
	background: -webkit-linear-gradient(#94CF58, #85CA40);
	background:    -moz-linear-gradient(#94CF58, #85CA40);
	background:      -o-linear-gradient(#94CF58, #85CA40);
	background:         linear-gradient(#94CF58, #85CA40);
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
#submit:hover {
	background: #94CF58;
}
#submit:active {
	background: #80BE41;
	box-shadow: inset 0 1px rgba(0,0,0,.6);
	padding-top: 1px;
}
#submit.inactive {
	background: #323943;
	background: rgba(0,0,0,.2);
	color: #AEB4BB;
	text-shadow: none;
	cursor: default;
	box-shadow: none;
	text-shadow: none;
}

aside {
	float: right;
	width: 380px;
}
aside .section__headline {
	background: #96D05B;
	background: -webkit-linear-gradient(#94CF58, #85CA40);
	background:    -moz-linear-gradient(#94CF58, #85CA40);
	background:      -o-linear-gradient(#94CF58, #85CA40);
	background:         linear-gradient(#94CF58, #85CA40);
	color: #FFF;
	padding: 7px 15px;
	box-shadow: inset 0 1px #AFDC83;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #FAFCF7;
}

.preview {
	padding: 15px;
	height: 302px;
	margin: 0 0 20px;
	background: #EFEFEF;
	border-radius: 0 0 2px 2px;
}
.picture {
	display: none;
	margin: 0 50px;
	background: #B5E3FF;
}
#ph {
	height: 45px;
	background: #FFE680;
	border-bottom: 1px solid #FFF;
}
#pc {
	background: #FFF;
	height: 210px;
}
#pf {
	height: 45px;
	background: #BFF08E;
	border-top: 1px solid #FFF;
}
.ex1 .picture,
.ex2 .picture,
.ex3 .picture,
.ex4 .picture,
.ex5 .picture,
.ex6 .picture {
	display: block;
}
.ex1 #pc {
	border-left: 60px solid #B5E3FF;
}
.ex2 #pc {
	border-right: 60px solid #FFACAA;
}
.ex3 #pc {
	border-left: 60px solid #B5E3FF;
	border-right: 60px solid #FFACAA;
}
.ex4 #pc {
	margin-left: 60px;
	border-left: 60px solid #FFACAA;
}
.ex5 .picture {
	background: #FFACAA;
}
.ex5 #pc {
	margin-right: 60px;
	border-right: 60px solid #B5E3FF;
}
.ex6 #pc {
	background: #FFF;
}
.liq .picture {
	margin: 0;
}

.bookmarks .section__inner {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.bookmarks a {
	margin: 0 3px !important;
	opacity: 0.6;
}
.bookmarks a:hover {
	opacity: 1;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	font-size: 11px;
	background: #323943;
	background: rgba(0,0,0,.2);
	color: #AEB4BB;
}
.footer .wrapper {
	padding: 0;
}
.footer a {
	color: #AEB4BB;
}
.footer a:hover {
	color: #FFF;
}


/***
-----------------------------------------------------------------------------*/
#fixWidth,
#headerHeight,
#footerHeight {
	display: none;
	position: absolute;
}
#headerHeight,
#footerHeight {
	right: 20px;
}
#liqWidth,
#maxWidth,
#lSidebarWidth,
#rSidebarWidth {
	display: none;
	position: absolute;
	top: 76px;
}
#fixWidth {
	left: 208px;
}
#liqWidth,
#maxWidth {
	right: 142px;
}
#liqWidth {
	top: 54px;
}
#rSidebarWidth {
	top: 69px;
}
#fixw, #liqw, #maxw,
#hh, #fh,
#lsw, #rsw {
	width: 33px;
}
#liqw, #maxw,
#lsw, #rsw {
	padding: 1px 4px 2px;
	top: 0;
}
#hh, #fh,
#lsw, #rsw {
	width: 25px;
}
#sub1, #sub2 {
	display: none;
	position: absolute;
	top: 54px;
	left: 165px;
}
#lSidebarWidth,
#rSidebarWidth {
	top: 54px;
	right: 20px;
}
#rSidebarWidth {
	top: 76px;
}
#error {
	background: #EE5567 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAoZJREFUeNpUUt1LFFEUv/fMzK7u7owf6NruugUVRCikLIQgRKYQQfQYVEKUuPQkfiQaRblbRGAqIQWJJfhQf0E9REqFPvgQZJiPSTLrrtmW7ji7s7P3ozv5lRcu956P3znnd86Rf19sRzsHqkPeplO8/rjiryKcwFra/rJgT83SRGLXB+8CfG2tSkNd7s00/TxfSKUBUx444K6rdV9oIXPz5tik8OGcbwO02z3EylnPJkg2CxjvxUMS97jUG1dlj+fPg2GnCnHV6608b1rDY3Yuu6XZPSIkN7PGyPN8Pl/cdskB8HAAN9Sbo5OE8bJYb+mjO6Bq+F8Sl6/U9/CWGu9DDOdGX8gnI4IkqE2nc+8+UsvEyMZuNxwOqQM9XNWQprkHOpWjh8Dl5kC4ZZG3H1zNjZjqSfPJOPmx7FSgadrdbqk6yFZWkehSKEQTqWxskGQMYZQPhtWuKIC/gq6ktkvOrJv3h6iuQ6hSZEd60ogPFjYyW0aaTKLKckAYc8y2KSIgDAFWRPeEYAPFDANnOy1ziS+w1TUlENzSyCWqL34TB/0o8ZMmkkqo2nuvl5eWMeZgpGA5T61BYf4bRGokJiMO3v5OV7BKVGjEhoz4Y64nIVyh9ncAlp1wJ2rshUXIv58pOneWeGXRSkoI+b68OTBMM+t8wzBig2gpyShliGK3VznfbE3POpMuunZZKlPNkXGBYCBhxNC+4YFgpHVH2fqG+fK1M1dr4hV4i0o6otznQ7wAHP2/GpJHUbvakc8jvB0mfTUR8dif5qD2iCd6BckuZubp5iaSQQ4FpDONns4oXdLNp+OIsn3b6ghhf3FTixw5Bv5KnOc0/Yt8XbSmZpi+t95/BRgAioYlAh7sYvQAAAAASUVORK5CYII=) no-repeat 15px 50%;
	display: none;
	color: #FFF;
	border-radius: 5px;
	box-shadow: none;
	padding: 6px 0 5px 60px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#error h2 {
	margin: 0 -2px 0 -12px;
	border-color: #FFCC66;
	border-width: 0 0 1px;
	background: #FFFFCC;
	color: #C00;
	text-shadow: none;
}
#error ul {
	margin: 0;
}
#error li {
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
	padding: 3px 0 4px;
}
input.error {
  border: 1px solid #EE5567 !important;
	background: #FFF4F4 !important;
}


select {
	width: 190px;
}
.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.jq-selectbox__select {
	height: 30px;
	line-height: 30px;
	padding: 0 30px 0 10px;
	border-radius: 3px;
	background: #FFF;
	border: 1px solid #C4C9D0;
	color: #646F81;
	position: relative;
	z-index: 10;
}
.jq-selectbox__select:hover {
	border: 1px solid #8891A2;
}
.opened .jq-selectbox__select {
	border: 1px solid #8891A2;
	background: #8891A2;
	color: #FFF;
	border-radius: 3px 3px 0 0;
}
.opened .jq-selectbox__select:after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: -1px;
	width: 100%;
	height: 1px;
	padding: 0 1px;
	background: #7C8698;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 14px;
	right: 11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0;
	border-color: #BEC4CB transparent transparent transparent;
}
.jq-selectbox__select:hover .jq-selectbox__trigger {
	border-top-color: #838E9C;
}
.opened .jq-selectbox__trigger {
	border-top-color: #FFF !important;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: -7px;
	right: -5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0;
	border-color: #FFF transparent transparent transparent;
}
.opened .jq-selectbox__trigger-arrow {
	border-top-color: #8891A2;
}
.jq-selectbox__dropdown {
	top: 33px;
	min-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 3px 10px rgba(0,0,0,.2);
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	padding: 5px 10px 6px;
	background: #8891A2;
	color: #FFF;
	white-space: nowrap !important;
}
.jq-selectbox li:last-child {
	border-radius: 0 0 3px 3px;
}
.jq-selectbox li.selected {
	background-color: #FFE680;
	color: #000;
}
.jq-selectbox li:hover {
	background-color: #5A6374;
	color: #FFF;
}

.jq-radio {
	margin: -2px 2px 0 0;
	width: 12px;
	height: 12px;
	border: 1px solid #C4C9D0;
	border-radius: 50%;
	background: #FFF;
	vertical-align: middle;
	cursor: pointer;
}
.jq-radio.checked div {
	display: block;
	overflow: hidden;
	margin: 2px 0 0 2px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #707B8F;
}
.jq-radio.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.jq-checkbox {
	margin: -2px 2px 0 0;
	width: 26px;
	height: 14px;
	overflow: hidden;
	border: 1px solid #C4C9D0;
	background: #DFE0E6;
	border-radius: 8px;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
}
.jq-checkbox div {
	background: #FFF;
	width: 14px;
	height: 14px;
	margin: -1px 0 0 -1px;
	border: 1px solid #C4C9D0;
	border-radius: 7px;
	transition: all 0.2s ease;
	position: relative;
	box-shadow: 1px 1px 4px rgba(0,0,0,.1);
}
.jq-checkbox.checked {
	border-color: #90CE52;
	background: #AFDC83;
}
.jq-checkbox.checked div {
	margin-left: 11px;
	border: 1px solid #90CE52;
}